/* signup.css */

body {
    font-family: Arial, sans-serif;
    background-image: url('images1/bg1\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #5bc0de;
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}

.navbar-nav .active {
    font-weight: bold;
}

.container {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-top: 5px;
}

button {
    background-color: #5bc0de;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #007bb5;
}

.success {
    text-align: center;
    color: #4CAF50;
    font-weight: bold;
}
