/* navbar.css */

/* Custom styling for the navbar */
body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #5bc0de; /* Set your desired background color */
}

.navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar-toggler {
    border-color: #fff; /* Set your desired border color */
}

.navbar-toggler-icon {
    background-color: #fff; /* Set your desired color for the toggler icon */
}

.navbar-nav .nav-link {
    color: #fff !important; /* Set your desired text color */
}

.navbar-nav .nav-link:hover {
    color: #fff !important; /* Set your desired text color on hover */
}

.navbar-nav .active {
    font-weight: bold; /* Set your desired font weight for the active link */
}
